.container .first{
    margin-top: 25px;
}
@media screen and (max-width:2000px){
    #backpage img{
        margin-left: 3%;position: fixed !important;margin-top:15%;
    }
}
@media screen and (max-width:1000px){
    #backpage img{
        margin-left: 3%;position: fixed !important;bottom:1%;
    }
}
.first .content .title{
    font-size: 70px; 
    color: darkred; 
    font-weight: bolder;
    text-align: center;
}
.first .content p{
    text-align: justify;
}
.first .image{
    margin-top: 3%;
}
@media screen and (max-width:2000px){
    .first .image img{
        height:564px;width: 564px;
    }
}
@media screen and (max-width:1200px){
    .first .image img{
        height:450px;width: 450px;
    }
}
@media screen and (max-width:983px){
    .first .image img{
        height:640px;width: 640px;
    }
}
@media screen and (max-width:730px){
    .first .image img{
        height:400px;width: 400px;
    }
}
@media screen and (max-width:380px){
    .first .image img{
        height:350px;width: 330px;
        border-radius: 7px;
    }
}
.container .more{
    text-align:justify;
}
.more .flow-text,
.hashtag .flow-text,
.post_comment .flow-text,
.comments-list .flow-text,
#comment-template .flow-text{
    font-size: medium;
}
.more .image img{
    max-width:100%; 
    border-radius: 7px;
}
.hashtag hr{
    height: 2px;
    background-color: palevioletred;
}
.post_comment .comment_title,
.post_comment .login_required{
    margin-top: 2%;
}
.post_comment #comment-form{
    display: flex;
}
.post_comment #comment-form #comment_btn{
    margin-top: 2%;
}
.post_comment .login_required a{
    cursor: pointer;
    color: crimson;
    margin-top: 2%;
}
#comments-list .card.white,
#comment-template .card.white{
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 7px;
}
#comments-list .card.white .card-content,
#comment-template .card.white .card-content{
    padding: 5px;
}
