@import url(https://fonts.googleapis.com/css?family=Megrim);

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  color: black;
}

main {
  margin-top: 2%;
  /* background-image: url(/views/image/bg/vn_blur_bg.jpg); */
  /* filter: blur(4px); */
  /* -webkit-filter: blur(4px); */
  /* backdrop-filter: blur(4px); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  flex: 1 0 auto;
  margin-bottom: 2%;
}

.title_1 {
  border: 2px solid crimson;
  border-radius: 15px;
  color: whitesmoke;
  /* position: absolute; */
  background-image: url(/views/image/bg/summer.gif),
    url(/views/image/bg/summer.gif);
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* top: 30%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  width: 60%;
  padding: 20px;
}
hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 2px 0 0 0;
  border-radius: 20px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}
hr.style-seven:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -1.0em;
  font-size: 0.9em;
  padding: 0 0.25em;
  background: white;
}

.bookends {
  position: relative;
  border-width: 5px;
  border-color: hsl(0, 0%, 50%) transparent;
  height: 11px;
  border-style: double;
  width: 20%;
}
.bookends:before,
.bookends:after {
  position: absolute;
  bottom: -3.536px;
  width: 7.071px;
  height: 7.071px;
  display: block;
  border-width: 0 7.071px 7.071px 0;
  border-color: hsl(0, 0%, 50%);
  border-style: double;
  box-sizing: border-box;
}
.bookends:before {
  transform: translateZ(0) rotate(-45deg);
  left: -21px;
}
.bookends:after {
  transform: translateZ(0) rotate(135deg);
  right: -21px;
}
hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* .cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 50px;
	height: 50px;
	position: absolute;
    top: 30px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../views/image/bg/pattern.png) repeat top left;
} */
@media screen and (max-width:2000px){
	.card.bg{width: 1250px;}
	.card.slide.bg{
		height: 600px;
	}
	/* .card.blog.bg{
		height: 360px;
	}
	.card.info.bg{

		height: 343px;
	} */
	/* .carousel.carousel-slider.post{
		height: 50px;
	} */
}

@media screen and (max-width:1300px){
	.card.bg{width: 520px;}
	.card.slide.bg{
		height: 720px;
	}
	.card.blog.bg{
		height: 348px;
	}
	.card.info.bg{

		height: 348px;
	}
	/* .carousel.carousel-slider.post{
		height: 50px;
	} */
}
@media screen and (max-width:990px){
	.card.bg{
		width: 950px;
		height: 950px;
	}
}
@media screen and (max-width:840px){
	.card.bg{
		width: 800px;
		height: 800px;
	}
}
@media screen and (max-width:720px){
	.card.bg{
		width: 630px;
		height: 630px;
	}
}
@media screen and (max-width:580px){
	.card.bg{
		width: 500px;
		height: 500px;
	}
}
@media screen and (max-width:470px){
	.card.bg{
		width: 390px;
		height: 390px;
	}
}
@media screen and (max-width:380px){
	.card.bg{
		width: 350px;
		height: 350px;
	}
}
@media screen and (max-width:300px){
	.card.bg{
		width: 250px;
		height: 250px;
	}
}
body .row .col div.card div.carousel{height: 100%;}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
	left: 0px;
	border-radius: 6px;
    color: transparent;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 0;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 50%;
    text-align: right;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
	font-family:'AlegreyaSans';
	font-weight: bold;
    font-size: 68px;
    padding: 0 10px;
    line-height: 90px;
	color: greenyellow;
}
.cb-slideshow li:nth-child(1) span { background-image: url(../views/image/bg/summer/hanoi.png); background-size:contain; background-repeat: no-repeat;}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../views/image/bg/summer/sapa.png);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../views/image/bg/summer/hue.png);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../views/image/bg/summer/danang.png);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../views/image/bg/summer/hoian.png);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../views/image/bg/summer/dalat.png);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) span {
    background-image: url(../views/image/bg/summer/saigon.png);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) span {
    background-image: url(../views/image/bg/summer/mekong.png);
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -o-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) div {
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) div {
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -o-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    /* -webkit-transform: scale(1.05); */
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    /* -webkit-transform: scale(1.1); */
	}
	25% {
	    opacity: 0;
	    /* -webkit-transform: scale(1.1); */
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    /* -moz-transform: scale(1.05); */
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    /* -moz-transform: scale(1.1); */
	}
	25% {
	    opacity: 0;
	    /* -moz-transform: scale(1.1); */
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    /* -o-transform: scale(1.05); */
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    /* -o-transform: scale(1.1); */
	}
	25% {
	    opacity: 0;
	    /* -o-transform: scale(1.1); */
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    /* -ms-transform: scale(1.05); */
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    /* -ms-transform: scale(1.1); */
	}
	25% {
	    opacity: 0;
	    /* -ms-transform: scale(1.1); */
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    /* transform: scale(1.05); */
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    /* transform: scale(1.1); */
	}
	25% {
	    opacity: 0;
	    /* transform: scale(1.1); */
	}
	100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    -webkit-transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -moz-transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    -moz-transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    -moz-transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    -moz-transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -o-transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    -o-transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    -o-transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    -o-transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -ms-transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    -ms-transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    -ms-transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    -ms-transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateX(200px);
	}
	8% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	17% {
	    opacity: 1;
	    transform: translateX(0px);
	}
	19% {
	    opacity: 0;
	    transform: translateX(-400px);
	}
	25% { opacity: 0 }
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.cb-slideshow li div h3 { font-size: 50px }
}
@media screen and (max-width: 600px) { 
	.cb-slideshow li div h3 { font-size: 25px }
}

/* #login-error-msg-holder {
	width: 100%;
	height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
  }
  
  #login-error-msg {
	width: 23%;
	text-align: center;
	margin: 0;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #8a0000;
	border: 1px solid #8a0000;
	background-color: #e58f8f;
	opacity: 0;
  }
  
  #error-msg-second-line {
	display: block;
  }
  
  #login-form {
	align-self: flex-start;
	display: grid;
	justify-items: center;
	align-items: center;
  }
  
  .login-form-field::placeholder {
	color:palevioletred;
  }
  
  .login-form-field {
	border: 3px solid palevioletred !important;
	margin-bottom: 10px !important;
	border-radius: 7px !important;
	outline: none;
	background-color: rgb(243, 230, 207) !important;
	height: 2rem !important;
	padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
	width: 100%;
	border: none;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	background-color: palevioletred;
	cursor: pointer;
	outline: none;
  }
  
  #login-form-submit:hover{
	background-color: pink;
  }
  
  div#signup{
	margin-top: 7px;
	
  }
  #signup .signup_text{
	text-decoration: none;
	color: palevioletred;
	font-size: medium;
   
  }
  
  #signup .signup_text:hover{
	color: plum;
  } */

  .smallbg{
	  border-radius: 7px !important;
	  height: 500px;
  }