body{
    width: 100%;
    height: 100%;
    background-color:  rgba(241, 213, 212, 0.5);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #1e0b619c;
}
.modal.modal-fixed-footer#modal1{
    overflow-y: hidden;
}

main {
    margin-top: 2%;
    flex: 1 0 auto;
    margin-bottom: 2%;
}
.card{
    border-radius: 7px !important;
}
.card.main-info{
    height: 100%;
}
.card.main-info div{
    padding-top: 0px;
    padding-bottom: 0px;
}
.card.main-info div.avatar{
    padding-top: 10px;
}
.card.main-info div.bio{
    padding-bottom: 10px;
}
.card.main-info div img.avatar{
    border: 2px solid black; 
    height: 300px;
    width: 300px;
}
.card.main-info div .flow-text.med{
    font-size: medium;
}
.card.function .function_container{
    padding: 0px;
}
.card.function div.info-change{
    margin-bottom: 0px;
}
.card.function div.add-admin,
.card.function div.admin{
    padding-bottom: 0px;
    padding-top: 0px;
}

footer .page-footer{
    padding-top: 0px;
}
.card.function div a{
    width: 100%;
}
.card.function div a .flow-text,
.article .flow-text{
    font-size: medium;
}
.card.post-info a.btn.pink.add,
.card.article-info a.btn.pink.add{
    float: right; 
    margin-top: 10px; 
    margin-right: 10px;
}
.card.post-info div .flow-text.large,
.article-info .flow-text.large{
    font-size: x-large;
}
.card.post-info div div.post,
#favorite .post,
.article-info .article{
    float: left;
}
@media screen and (max-width:2000px){
    .card.post-info div div.post .postcard,
    #favorite .post .postcard,
    .article-info .article .articlecard{
        width: 25rem;
        height:fit-content;
        margin-left: 4rem;
    }
}
@media screen and (max-width:983px){
    .card.post-info div div.post .postcard,
    #favorite .post .postcard,
    .article-info .article .articlecard{
        width: 20rem;
        height:fit-content;
        margin-left: 2rem;
    }
}
@media screen and (max-width:340px){
    .card.post-info div div.post .postcard,
    #favorite .post .postcard,
    .article-info .article .articlecard{
        width: 15rem;
        height:fit-content;
        margin-left: 1rem;
    }
}
.card.post-info div div.post .postcard div.right,
.article-info .article .articlecard div.right{
    position: absolute;
    top: 5px; 
    right: 5px;
}
.card.post-info div div.post .postcard div div.carousel,
#favorite .post .postcard .carousel{
    border: 1px solid black;
    border-radius: 7px;
}
.card.post-info div div.post .postcard div div.carousel .carousel-item,
#favorite .post .postcard .carousel .carousel-item{
    height: fit-content;
}
.postcard div div.carousel .carousel-item img,
#favorite .post .postcard .carousel .carousel-item img{
    height: 100%;
}
.card.post-info div div.post .postcard div.post-image,
.article-info .article .articlecard .article-img{
    padding-bottom: 0px;
}
.card.post-info div div.post .postcard div.post-content,
#favorite div.row.card-content,
.article-info .article .articlecard .article-content{
    padding-top: 0px;
    padding-bottom: 0px;
}
.card.post-info div div.post .postcard .flow-text,
#favorite .post .postcard .flow-text{
    font-size: medium;
}
.card.post-info div div.post .postcard div.post-tag,
.article .articlecard .article-tag{
    padding-top: 0px;
    padding-bottom: 5px;
}
.article-info .article .articlecard .article-img a img{
    width: 100%;
    height: auto; 
    border-radius: 7px;
}
