body{
    width: 100%;
    height: 100%;
    background-color:  rgba(241, 213, 212, 0.5);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #1e0b619c;
}
.modal.modal-fixed-footer#modal1{
    overflow-y: hidden;
}

main {
    margin-top: 5%;
    flex: 1 0 auto;
    margin-bottom: 2%;
}
.card{
    border-radius: 7px !important;
}
.card.main-info{
    height: 100%;
}