<div id="avatar_modal" class="modal modal-fixed-footer white" style="overflow-y: hidden;border-radius: 15px;">
    <form>
        <div class="modal-content" style="overflow: hidden;">
            <div class="row center" style="padding-top: 10px;">
                <img id="avatar_preview" src="https://via.placeholder.com/300x300.png?text=Avatar+300x300" alt="img"
                 class="circle"/>
            </div>
            
            <div class="row center">
                <div class="col s4"></div>
                <div class="col s4">
                    
                    <div class="file-field input-field upload-field row center">
                        <a class="btn pink lighten-4 center"  style="float: none;">
                            <img src="https://img.icons8.com/officel/40/000000/add-image.png" alt="img"/>
                            <input type="file" name="avatar" onchange="readURL(this)" id="avatar_input">
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer pink lighten-5">
            <div class="row center" style="margin: 0px;">
                <button class="modal-close waves-effect waves-pink btn" type="button" id="avatar_btn">Đổi</button>
            </div>
        </div>
    </form> 
</div>
<script>
    function readURL(input) {
        console.log(input.files[0])
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("avatar_preview").setAttribute("src",e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>