<div id="edit_info_modal" class="modal modal-fixed-footer hide-on-med-and-down" style="overflow: hidden;border-radius: 15px;">
    
    
    <div class="modal-content white" style="overflow-x: hidden;">
        <div class="row center">
            <kbd>Name: <%= user.name %></kbd><br>
            <kbd>Email: <%= user.email %></kbd>
        </div>
    </div>
    <div class="modal-footer pink lighten-5">
        <button class="modal-close waves-effect waves-pink btn"
            style="margin-bottom: 30px;position: absolute;left:46%">Confirm</button>
    </div>
    
</div>