<ul class="dropdown-content" id="map1">
    <li><a href="/map">The Festival</a></li>
    <li><a href="#">Tropical Summer</a></li>
    <li><a href="#">Rainy Autumn</a></li>
    <li><a href="#">Hasty Winter</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <% if(user==null){ %>
        <a href="/" class="brand-logo">
        <% } else{ %>
        <a href="/home" class="brand-logo">
        <% } %>
            <img src="https://img.icons8.com/plasticine/40/000000/sunny-side-up-eggs.png"/>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <img src="https://img.icons8.com/fluent/30/000000/expand-arrow.png"/>
        </a>
        <ul class="right hide-on-med-and-down sdt_menu center-align" id="sdt_menu">
            <li>
                <a class="modal-trigger" href="#modal2">
                    <img src="https://img.icons8.com/color/30/000000/search--v1.png"/>
                </a>
                <%- include("../templates/searchbox.ejs")%>
            </li>
            <li>
                <% if(user==null){ %>
                    <a href="/users/login">
                <% } else{ %>
                    <%- include("../templates/profile.ejs",{user:user})%>
                    <a href="#modal1" class="modal-trigger">
                <% } %>
                        <img src="https://img.icons8.com/clouds/36/000000/edit-user.png"/>
                    </a>
                    
            </li>
            <li>
                <a href="/map" class="dropdown-trigger" data-target="map1">
                    <img src="https://img.icons8.com/doodle/36/000000/map.png"/>
                </a>
            </li>
            <li>
                <% if(user==null){ %>
                    <a href="/blog">
                <% } else{ %>
                    <a href="/blog?user=<%= user.id %>">
                <% } %>
                    <img src="https://img.icons8.com/clouds/36/000000/comments.png" />
                </a>
            </li>
            <li>
                <a href="/about">
                    <img src="https://img.icons8.com/clouds/36/000000/about.png" />
                </a>
            </li>
        </ul>
        
    </div>
</nav>


<ul class="sidenav pink lighten-5" id="mobile-demo">
    <% if(user!=null){ %>
    <li><a href="#">User</a></li>
    <% } else{ %>
    <li><a href="users/login">User</a></li>
    <% } %>
    <li><a href="map">Map</a></li>
    <li><a href="/search">Article</a></li>
    <% if(user!=null){ %> 
    <li><a href="/blog?user=<%= user.id %>">Blog</a></li>
    <% } else{ %>
    <li><a href="/blog">Blog</a></li>
    <% } %> 
    <li><a href="about">About</a></li>
</ul>

