<div class="card" style="border-radius: 7px;">
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1" >
        <li class="tab"><a href="#test1">Phổ biến</a></li>
        <li class="tab"><a href="#test2">Ẩm thực</a></li>
        <li class="tab"><a href="#test3">Du lịch</a></li>
    </ul>
    <div id="test1" class="row card-content">
        <div class="col s12" id="popular">
            
        </div>
    </div>
    <div id="test2" class="row card-content">
        <div class="col s12" id="food">
            
        </div>
    </div>
    <div id="test3" class="row card-content">
        <div class="col s12" id="travel">
            
        </div>
    </div>
</div>
<script src="/script/popular_tag.js"></script>

