<main>
    <div class="row center">
        <div class="col s12" style="height: 100%;">
            <img
                src="https://cdn.shortpixel.ai/client/to_webp,q_lossy,ret_img,w_1080,h_675/https://crossware.co.nz/wp-content/uploads/2020/09/cute-food-dancing-gif.gif" />
        </div>
    </div>
    <div class="row center">
        <kbd class="flow-text truncate">Oops. You went too far.</kbd>
    </div>
    <div class="row center">
        <a class="btn pulse pink lighten-3" href="/">Travel home</a>
    </div>
</main>
<style>
    body,
    html,
    main {
        height: 100%;
        width: 100%;
        background-color: rgba(241, 213, 212, 0.5);
    }
    img{
        margin-top: 150px;
    }
    .flow-text{
        color: brown;
        font-weight: bold;
    }
</style>
<%- include("../templates/dependency.ejs") %>